.wrapper
{
	width: 600px;
	background: #cccccc;
	margin: 10px auto;
	padding: 30px;
}

h1
{
	margin: 0;
	font-family: Tahoma, Sans-Serif;
	font-size: 24px;
	border-bottom: solid 1px #999999;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.searching
{
	border-bottom: solid 1px #999999;
	margin-bottom: 20px;
}