.wrapper
{
	width: 600px;
	background: #cccccc;
	margin: 10px auto;
	padding: 30px;
}

h1
{
	margin: 0;
	font-family: Tahoma, Sans-Serif;
	font-size: 24px;
	border-bottom: solid 1px #999999;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

button
{
	text-align: center;
	border:outset 2px #777777;
	font-size: 18px;
	padding: 3px 5px;
	cursor: pointer;
	color: #000000;
	background: #999999;
	text-decoration: none;
}
button:hover
{
	background: #aaaaaa;
}

button.active
{
	border:outset 2px #770000;
	background: #990000;
	color: #ffffff;
}

.searching
{
	border-bottom: solid 1px #999999;
	margin-bottom: 20px;
}

.index ol
{
	margin-left: 50px;
	margin-top: 10px;
}
.index li
{
	font-size: 18px;
	margin-bottom: 0.4em;
	color: #800000;
}

.index a
{
	color: #000000;
	text-decoration: underline;
	font-size: 18px;
}

.index a:hover
{
	color: #777777;
	text-decoration: none;
}

.index a:visited
{
	color: #777777;
}

a.abc_letter
{
	margin-right: 5px;
	font-size: 24px;
}

a.start_letter
{
	margin-top: 20px;
	cursor: default;
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: #000000;
	padding: 5px;
	margin-bottom: 0;
	background: #ededed;
	border-bottom: solid 1px #ababab;
	overflow: auto;
}
a.start_letter:hover
{
	color: #000000;
}
