.head h3
{
	font-size: 24px;
}

img
{
	display: block;
	border-top: solid 5px #999999;
}


.middle
{
    border-top: solid 5px #999999;
}

.middle img
{
	border: none;
    margin: 0 auto;
}

p
{
	display: block;
	border-top: solid 3px #999999;
	padding: 15px;
	background: #cccccc;
	font-size: 18px;
}
